<div class="emphasis mb-05">Package Details</div>
<div class="flex space-between">
  <div class="w-50">
    <div class="mb-05">
      <span class="block mute">Package Type</span>
      <span class="block"> {{ packageDetails.packageType }}</span>
    </div>
    <div class="mb-05">
      <span class="block mute">No. of Packages</span>
      <span class="block"> {{ packageDetails.numberOfPackages }}</span>
    </div>
    <div class="mb-05">
      <span class="block mute">Net Weight + Unit</span>
      <span class="block"> {{ packageDetails.netWeightAndUnit }}</span>
    </div>
  </div>
  <div class="w-50">
    <div class="mb-05">
      <span class="block mute">Gross Weight + Unit</span>
      <span class="block"> {{ packageDetails.grossWeightAndUnit }}</span>
    </div>
    <div class="mb-05">
      <span class="block mute">Volumetric Weight + Unit</span>
      <span class="block"> {{ packageDetails.volumetricWeightAndUnit }}</span>
    </div>
  </div>
</div>
