<div class="emphasis mb-05">Shipping Details</div>
<div class="flex space-between">
  <div class="w-50">
    <div class="mb-05">
      <span class="block mute">Mode of Transport</span>
      <span class="block"> {{ shippingDetails.modeOfTransport }}</span>
    </div>
    <div class="mb-05">
      <span class="block mute">Carrier No.</span>
      <span class="block"> {{ shippingDetails.carrierNumber }}</span>
    </div>
    <div class="mb-05">
      <span class="block mute">Date of Arrival</span>
      <span class="block"> {{ shippingDetails.dateOfArrival }}</span>
    </div>
    <div class="mb-05">
      <span class="block mute">Date of Departure</span>
      <span class="block"> {{ shippingDetails.dateOfDeparture }}</span>
    </div>
    <div class="mb-05">
      <span class="block mute">Port of Load</span>
      <span class="block"> {{ shippingDetails.portOfLoad }}</span>
    </div>
  </div>
  <div class="w-50">
    <div class="mb-05">
      <span class="block mute">Port of Discharge</span>
      <span class="block"> {{ shippingDetails.portOfDischarge }}</span>
    </div>
    <div class="mb-05">
      <span class="block mute">Original Load Port</span>
      <span class="block">{{ shippingDetails.originalLoadPort }}</span>
    </div>
    <div class="mb-05">
      <span class="block mute">Destination Country</span>
      <span class="block">{{ shippingDetails.destinationCountry }}</span>
    </div>
    <div class="mb-05">
      <span class="block mute">Point of Exit</span>
      <span class="block">{{ shippingDetails.pointOfExit }}</span>
    </div>
  </div>
</div>
