<div class="flex wrapper">
  <div class="card">
    <h3 class="emphasis">Sold to</h3>
    <div class="flex space-between">
      <div class="personal">Name</div>
      <div class="personal">{{ sold?.name }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">Address Line1</div>
      <div class="personal">{{ sold?.addressLine1 }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">Address Line2</div>
      <div class="personal">{{ sold?.addressLine2 }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">City</div>
      <div class="personal">{{ sold?.city }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">PO Box</div>
      <div class="personal">{{ sold?.POBox }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">Country</div>
      <div class="personal">{{ sold?.country }}</div>
    </div>
  </div>
  <div class="card">
    <h3 class="emphasis">Bill to</h3>
    <div class="flex space-between">
      <div class="personal">Name</div>
      <div class="personal">{{ bill?.name }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">Address Line1</div>
      <div class="personal">{{ bill?.addressLine1 }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">Address Line2</div>
      <div class="personal">{{ bill?.addressLine2 }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">City</div>
      <div class="personal">{{ bill?.city }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">PO Box</div>
      <div class="personal">{{ bill?.POBox }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">Country</div>
      <div class="personal">{{ bill?.country }}</div>
    </div>
  </div>
  <div class="card">
    <h3 class="emphasis">Ship to</h3>
    <div class="flex space-between">
      <div class="personal">Name</div>
      <div class="personal">{{ ship?.name }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">Address Line1</div>
      <div class="personal">{{ ship?.addressLine1 }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">Address Line2</div>
      <div class="personal">{{ ship?.addressLine2 }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">City</div>
      <div class="personal">{{ ship?.city }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">PO Box</div>
      <div class="personal">{{ ship?.POBox }}</div>
    </div>
    <div class="flex space-between">
      <div class="personal">Country</div>
      <div class="personal">{{ ship?.country }}</div>
    </div>
  </div>
</div>
